@model IEnumerable<SocialMediaPlatform.Models.Photo>
@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/photo.css" asp-append-version="true" />

<div class="row">

        <div class="container">
            @foreach(var photo in Model)
            {
             <div class="window">
                <img class="foto" src="~/@photo.PhotoUrl">
                <p class="content">Follow me</p>
                <img class="user" src="https://i.pinimg.com/236x/58/9c/8f/589c8ffa48aa58004b6221b60a15f05e.jpg">
                <a class="username">@photo.PhotoID</a>

                <div class="hover-zone">
                    <div class="top-bar">
                        <p>Profile ⌵</p>
                        <a>Save</a>
                    </div>
                    <!-------------------->
                    <div class="bottom-bar">
                        
                        <div class="radius-ico">
                            <img src="~/@photo.PhotoUrl">
                            <img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-more-256.png">
                        </div>
                    </div>
                </div>
            </div>

        }

        </div>
</div>