@{
    ViewData["Title"] = "Blocked User";
}

<div class="container">
    <div class="row">
        <div class="col s12 m12 center-text">
            <div class="center">
            <img src="~/Image/blocked.gif" alt="Error Animation"/>
        </div>
        </div>
        <div class="col s12 m12 center-text">
            <h4 class="blocked_text">
                No children under the age are allowed on this platform please exit the app.
            </h4>
        </div>
    </div>
</div>